:root {
  color-scheme: light dark;
}

body {
  font-family: system-ui, sans-serif;
  margin: 0;
  background: #f7f7f7;
}

main {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 1rem;
}

button {
  padding: 0.75rem 1rem;
  margin: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  max-width: 15rem;
}

footer {
  bottom: 1rem;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer a {
  margin: 0.25rem;
  color: inherit;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #323232;
  }
}
